/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
	font-family:"Exo 2";
	src:url("Exo2-Regular.eot?") format("eot"),
	url("Exo2-Regular.woff") format("woff"),url("Exo2-Regular.ttf") format("truetype"),url("Exo2-Regular.svg#Exo2-Regular") format("svg");font-weight:normal;font-style:normal;}

/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
	font-family:"Montserrat-Bold";
	src:url("Montserrat-Bold.eot?") format("eot"),url("Montserrat-Bold.woff") format("woff"),url("Montserrat-Bold.ttf") format("truetype"),url("Montserrat-Bold.svg#Montserrat-Bold") format("svg");font-weight:normal;font-style:normal;
}


/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
	font-family:"Montserrat-Regular";
	src:url("Montserrat-Regular.eot?") format("eot"),url("Montserrat-Regular.woff") format("woff"),url("Montserrat-Regular.ttf") format("truetype"),url("Montserrat-Regular.svg#Montserrat-Regular") format("svg");font-weight:normal;font-style:normal;}

/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {font-family:"Open Sans Light";
	src:url("OpenSans-Light.eot?") format("eot"),url("OpenSans-Light.woff") format("woff"),url("OpenSans-Light.ttf") format("truetype"),url("OpenSans-Light.svg#OpenSans-Light") format("svg");font-weight:normal;font-style:normal;}

@font-face {font-family:"Roboto Bold";src:url("DroidSans-Bold.eot?") format("eot"),url("DroidSans-Bold.woff") format("woff"),url("DroidSans-Bold.ttf") format("truetype"),url("DroidSans-Bold.svg#Roboto-Bold") format("svg");font-weight:normal;font-style:normal;}





.font-pb{
	font-family: 'Exo 2'; 
    color:white !important;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.9;    
}
.btn-bd-download {
    margin-top: 0.5rem;
    font-weight: 600;
    color: #ffe484;
    border-color: #ffe484;
}

.btn-bd-download:hover{
        color: white !important;
}
.demo-empresa {
    color:white !important;  
    font-weight: 700;
    font-family:"Montserrat-Bold";    
    font-size: 27px;   
}

.font-itens{
    /* font-family:"Roboto Bold";     */
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.9;   
    }
.font-portif{
    color:#4E2C9C;  
    font-weight: 200;
    font-family:"Montserrat-Bold";    
    font-size: 30px;
}
.font-body2{
    color:#4E2C9C;  
    font-weight: 300;
    font-family:"Montserrat-Bold";    
    font-size: 45px;
}

.font-body{
    color:#4E2C9C;  
    font-weight: 300;
    font-family: 'Exo 2';    
    font-size: 45px;
}
.color-pb{
    background-color: #5e42a6 !important;
}

.nav-color{
    color: rgba(255,255,255,.5) !important;
}

.nav-color:hover{
    color: white!important;
}

.demo-backgroud{
   background-color: limegreen!important;    
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;

    margin-left: 3rem;
    
}
.title-pb{
    font-size: 90px !important;
}

.h2text{
    color: #5e42a6;
}
.title-sub-pb{
    font-size: 20px;
    text-align: left;
}

.menu-sub-pb{
    font-size: 15px;
    text-align: left;
}

nav .title {
    color: white !important;
    text-decoration: none;
    background-color: transparent;
}

div.direita { 
  width: 100%;
}

div.direitapag {
  float: right;
}
#paglinks ul {
  border: 0;
  padding: 0;
  margin: 0;
}
#paglinks li {
  list-style: none;
}
.no-paddings{
    padding: 0 !important;
}
.fa-stack-1x {
    color:white;
}
.icon-facebook {
   color:white;
}
/*
.margin-5{
    margin-top: 4rem;
    padding: 4rem;
    
}
*/

.carousel-caption {
    text-align: left;   
    left: 10% !important;
    top: 10% !important;
    bottom: 75% !important;
    color:#159191 !important;  
    font-weight: 700;
    font-family:"Montserrat-Bold";    
        
}

.carousel-caption-right {
    text-align: right;   
    right: 10% !important;
    
    bottom: 10% !important;
    margin-bottom: auto;
    color:#159191 !important;  
    font-weight: 700;
    font-family:"Montserrat-Bold";    
        
}


.color-slide-mail{
    color:#159191 !important; 
    font-size: 38px !important;
}
.color-slide-progress{
    color:#2f3788 !important; 
    font-size: 38px !important;
}

.color-slide-dados{
    color:#3c328b !important; 
    font-size: 38px !important;
}    
.text-slide-mail{

    color:#333e5a !important;     
    font-size: 17px !important;
    margin-top: 13px;
    font-family:"Open Sans Light";
}
.text-slide-progress{

    color:#424dc1 !important;     
    font-size: 17px !important;
    margin-top: 13px;
    font-family:"Open Sans Light";
}
.text-slide-dados{

    color:black!important;     
    font-size: 17px !important;
    margin-bottom: auto;
    font-family:"Open Sans Light";
}


/* Agency template */
p{
    line-height:1.75
}
a{
    color:#fed136
}
a:hover{
    color:#fec503
}
.text-primary{
    color:#fed136!important
}

section{
    padding:100px 0
}
section h2.section-heading
{   font-size:40px;
    margin-top:0;
    margin-bottom:15px
}

section h3.section-subheading{
    font-size:16px;
    font-weight:400;
    font-style:italic;
    margin-bottom:75px;
    text-transform:none;
    font-family:'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
}
@media (min-width:768px){
    section{
        padding:150px 0
    }
}
.btn{
    font-family:Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-weight:700
}
.btn-xl{
    font-size:18px;padding:20px 40px
}
.btn-primary{
    background-color:#fed136;
    border-color:#fed136
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover{
    background-color:#fec810!important;border-color:#fec810!important;color:#fff}.btn-primary:active,.btn-primary:focus{-webkit-box-shadow:0 0 0 .2rem rgba(254,209,55,.5)!important;box-shadow:0 0 0 .2rem rgba(254,209,55,.5)!important}::selection{background:#fed136;text-shadow:none}img::selection{background:0 0}img::-moz-selection{background:0 0}

.btn-bd-download {
        margin-top: 0.5rem;
        font-weight: 600;
        color: #ffe484;
        border-color: #ffe484;
}    
#mainNav{
    background-color:#212529
}
#mainNav .navbar-toggler{
    font-size:12px;right:0;
    padding:13px;
    text-transform:uppercase;
    color:#fff;
    border:0;
    background-color:#fed136;
    
    font-family:Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
}
#mainNav .navbar-brand{
    color:#eee8d2;
    font-family: 'Exo 2'; 
}
#mainNav .navbar-brand.active,#mainNav .navbar-brand:active,#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{color:#fec503}#mainNav .navbar-nav .nav-item .nav-link{font-size:90%;font-weight:400;padding:.75em 0;letter-spacing:1px;color:#fff;font-family:Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'}#mainNav .navbar-nav .nav-item .nav-link.active,#mainNav .navbar-nav .nav-item .nav-link:hover{color:#fed136}@media (min-width:992px){#mainNav{padding-top:25px;padding-bottom:25px;-webkit-transition:padding-top .3s,padding-bottom .3s;transition:padding-top .3s,padding-bottom .3s;border:none;background-color:transparent}#mainNav .navbar-brand{font-size:1.75em;-webkit-transition:all .3s;transition:all .3s}#mainNav .navbar-nav .nav-item .nav-link{padding:1.1em 1em!important}#mainNav.navbar-shrink{padding-top:0;padding-bottom:0;background-color:#212529}#mainNav.navbar-shrink .navbar-brand{font-size:1.25em;padding:12px 0}}

header.masthead{
    text-align:center;
    color:#fff;
    background-image:url(header-bg.jpg);
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:center center;
    background-size:cover
}
header.masthead .intro-text{
    padding-top:150px;
    padding-bottom:100px
}
header.masthead .intro-text .intro-lead-in{
    font-size:22px;
    font-style:italic;
    line-height:22px;
    margin-bottom:25px;
    font-family:'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
}
header.masthead .intro-text .intro-heading{
    font-size:50px;
    font-weight:700;
    line-height:50px;
    margin-bottom:25px;
    font-family:Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
}
@media (min-width:768px){
    header.masthead .intro-text{
        padding-top:300px;
        padding-bottom:200px
    }
    header.masthead .intro-text .intro-lead-in{
        font-size:40px;
        font-style:italic;
        line-height:40px;
        margin-bottom:25px;
        font-family:'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
    }
    header.masthead .intro-text .intro-heading{
        font-size:75px;
        font-weight:700;
        line-height:75px;
        margin-bottom:50px;
        font-family:Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
    }
}